@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

progress {
    width: 100%;
    background-color: rgb(6, 6, 95);
    border-radius:50px;
    padding:3px;

}
progress::-webkit-progress-bar{
    background-color: rgb(6, 6, 95);
}
progress::-webkit-progress-value{
    background-color: #e0e2e9;
    border-radius: 50px;
}


progress.active , progress.active::-webkit-progress-bar{
    background-color: rgb(254, 254, 255);
}

progress::-moz-progress-bar {
    background-color: #e0e2e9;
    border-radius: 50px;
}

progress.active::-moz-progress-bar {
    background-color: rgb(8, 2, 99);
}

progress.active::-webkit-progress-value{
    background-color: rgb(8, 2, 99);
}

@media (max-width: 400px){
    html{
        font-size: 8px;
    }
}
